*{
    text-align: center;
}

header {
    align-items: center;
    display:flex;
    justify-content:space-between;
    flex-direction: column;
}

body{
    background-color: rgb(250, 233, 210);
}

.demoGifs{
    width: 50em;
    height: 25em;
}
#projectArea {
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    gap: 10px; 
}